.sections-nav {
        display: flex;
        justify-content: center;
        border-bottom: 3px solid rgb(100, 100, 100);
        

    ul {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-width: 5px;
	    border: solid rgb(17, 0, 255);
    }

    li {
        margin: 0 10px;
        font-family: $sans-serif;
        cursor: pointer
    }

    a {
        text-transform: uppercase;
        font-size: 10px;
    }

    li:hover:not(:last-child) {
        background-color: $light-gray
    }
    
}
